<div class="row column1">
   <div class="col-md-12 margin_top_30">
      <div class="white_shd full margin_bottom_30">
         <!-- dash_head es el color del encabezado -->
         <div class=" d-flex justify-content-between align-items-center">

            <div class="heading1 margin_0 dash_head">
               <h3>Residentes</h3>
            </div>
         </div>
         <div class="full price_table padding_infor_info">
            <div id="cardsContainer" class="row">

            </div>
         </div>
      </div>
   </div>

   <div class=" col-lg-12 grid-margin stretch-card d-flex flex-wrap justify-content-end">
        <div class="d-flex align-right">
            <a href="#ResidentesDeshabilitados" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class=""></i> <span class="fw-bold">Residentes Deshabilitados</span></a>
        </div>
    </div>


    <div class="col-md-12">
        <div class="collapse" id="ResidentesDeshabilitados">
            <div class="white_shd full margin_bottom_30">
                <div class="table_section" id="tablaResidentesDeshabilitados">
                    <div class="table-responsive-sm d-none d-md-block">
                        <table id="" class="table table-hover">
                            <thead>
                                <tr class="table-primary">
                                    <th>Nombre y Apellido</th>
                                    <th class="text-center">Fecha de Ingreso</th>
                                    <th>Telefono</th>
                                    <th class="text-center">Deshabilitado el día</th>
                                    <th class="text-center">Habilitar</th>
                                </tr>
                            </thead>
                            <tbody id="todosLosResidentesDeshabilitados"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="vistaCardsResidentesDeshabilitadas" class="d-md-none">
                <div id="cardsContainerResidentesDeshabilitados" class="row g-2"></div>
            </div>
            <div id="mensajeSinDeshabilitados" class=" mt-3 text-center d-none">
                <h5>No hay Residentes deshabilitados.</h5>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPerfil" tabindex="-1" aria-labelledby="modalPerfilLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg modal-dialog-slide">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="modalPerfilLabel">Perfil del Residente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
         </div>
         <div class="modal-body" id="modalPerfilBody">
            <!-- Aquí se insertará el contenido dinámico -->
         </div>
      </div>
   </div>
</div>

<!-- The Modal Editar Residente -->
<div id="modalEditarResidente" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
   <div class="modal-dialog">
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header dash_headModal">
            <h4 class="modal-title text-light">Editar Residente</h4>
         </div>
         <!-- Modal body -->
         <div class="modal-body">
            <div id="formResidente">

               <!-- PersonaId llega desde otro flujo (hidden) -->
               <input type="number" id="ResidenteId" readonly hidden>
               <input type="number" id="PersonaId" readonly hidden>


               <!-- Turno (enum en backend) -->
               <label for="FechaIngresoEditar" class="form-label">Fecha de Ingreso</label>
               <input type="date" id="FechaIngresoEditar" class="form-control">

               <label for="EmailEditar" class="form-label">Email Familiar</label>
               <input type="email" id="EmailEditar" class="form-control">

               <label for="ObservacionesEditar" class="form-label">Observaciones</label>
               <input type="text" id="ObservacionesEditar" class="form-control">

               <label for="TutorEditar" class="form-label">Tutor a Cargo</label>
               <input type="text" id="TutorEditar" class="form-control">

               <div class="form-group">
                  <label>Obra Social actual:</label>
                  <div class="d-flex align-items-center">
                     <p id="LabelObraSocialActual" class="form-control-plaintext text-info mb-0"></p>
                     <button type="button" id="btnCambiarObraSocial" class="btn btn-sm btn-outline-primary ms-2">
                        Cambiar
                     </button>
                  </div>

                  <div id="contenedorCambioObraSocial" class="collapse-transition mt-2">
                     <label for="ObraSocialId">Seleccione nueva obra social:</label>
                     <select id="ObraSocialId" class="form-control"></select>
                  </div>
               </div>

            <label for="NroAfiliadoEditar" class="form-label">Numero de Afiliado</label>
            <input type="number" id="NroAfiliadoEditar" class="form-control">

            <form id="formFotoEditar" enctype="multipart/form-data">
               <label class="form-label">Foto del Residente</label>
               <input type="file" id="FotoResidenteEditar" accept="image/*" />
               <img id="previewFoto" src="" alt="Preview" style="max-width: 200px; display: none;" />
            </form>
            <span id="errorEditarResidente" class="text-danger"></span>

         </div>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
         <button type="button" class="btn btn-primary" onclick="EditarResidente()">Guardar</button>
         <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
   </div>
</div>
</div>

<script src="../Js_Funciones/common/ObtenerObraSocialDropdown.js"></script>
<script src="../Js_Funciones/residentes.js"></script>