<div class="col-md-12 margin_top_30">
    <div class="white_shd full margin_bottom_30">
        <div class="dash_head d-flex justify-content-between align-items-center">
            <h3>Buscar Rutinas Completadas</h3>
        </div>
        <div class="table_section padding_infor_info2">
            <div class="row">
                <div class="col-md-4">
                    <label for="residenteSelect" class="form-label">Residente</label>
                    <select id="residenteSelect" class="form-control"></select>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Desde</label>
                    <input type="date" id="FechaDesde" class="form-control">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Hasta</label>
                    <input type="date" id="FechaHasta" class="form-control">
                </div>
            </div>
        </div>

        <div class="table_section padding_infor_info2">
            <div class="table-responsive-sm">
                <table id="tablaHistorial" class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                            <!-- <th>Residente</th> -->
                            <th>Rutina</th>
                            <th>Realizada por:</th>
                            <th>Fecha y Hora</th>
                        </tr>
                    </thead>
                    <tbody id="rutinasResidente"></tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<script src="../Js_Funciones/rutinasCompletadas.js"></script>